/**
 * 
 * Reviewss Carousel
 * set max on page shown to 4
 */

//  Open Sans font
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// Material Icons
 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 

.container {
    width: 100%;
    margin: 0 auto;
    background: #11285A;
    color: #fff;
    text-shadow:  0 0 1px #fff;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;

    .carousel {
        min-height: 420px;
        height: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;

        & > h1 {
            color: #5ED815;
            text-shadow: 0 0 1px #5ED815;
            font-weight: 300;
            font-size: 42px;
            margin-bottom: 0;
        }

        .slider {
            height: 100%;
            display: flex;
            flex-direction: row;
            width: 400%;
            transition: all 0.5s;

            & > section {
                flex-basis: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: 25px 0 100px 0;

                .reviews-profile {
                    margin: 50px;
                    display: grid;
                    place-items: center;

                    h4 {
                        margin: 15px 0 0 0;
                        font-size: 20px;
                    }
                    
                    p {
                        margin: 0;
                        font-size: 20px;
                    }
                    
                    .thumbnail-container {
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        filter: drop-shadow(0 0 5px #000);

                        & > img {
                            position: relative;
                            top: 3px;
                            min-width: 200px;
                            height: 100%;
                            transform: scale(1.1);
                        }
                    }
                }

                .reviews-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    max-width: 100%;
                    position: relative;
                    margin: 10px 0;
                    
                    p {
                        // margin: 5px 0 5px 20px;
                        font-size: 30px;
                        font-weight: 300;
                        max-width: 750px;
                    }

                    .name-attribution {
                        font-size: 20px;
                        margin-top: 30px;
                    }

                }
            }
        }

        .controls {
            .arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                display: grid;
                place-items: center;

                & > i {
                    font-size: 60px;
                    transition: all 0.3s;
                    &:hover {
                        background: rgba(000, 000, 000, 0.25);
                    }
                }
            }
            .prev {
                left: 25px;
                background: rgba(255, 255, 255, 0.5);
            }
            .next {
                right: 25px;
                background: rgba(255, 255, 255, 0.5);
            }

            & > ul {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;

                & > li {
                    width: 15px;
                    height: 15px;
                    border: 2px solid #fff;
                    border-radius: 50%;
                    margin: 10px;
                    cursor: pointer;
                    background: transparent;
                }

                .selected {
                    background: #fff;
                }
            }
        }

        .controls-2 {
            position: relative;
            bottom: 10px;

            .ctrl {
                position: absolute;
                bottom: 25px;
                left: 50%;
                transform: translate(-50%);
                text-align: start;
                cursor: pointer;
                font-weight: 300 !important;
                display: grid;
                place-items: center;
            }

            .play {
                color: green;
                text-shadow: 0 0 1px green;
                display: none;
            }
            
            .pause {
                color: red;
                text-shadow: 0 0 1px red;
            }

            i {
                font-size: 30px;
            }
        }
    }
}


@media (max-width: 1024px) {
    .reviews {
        padding: 0 0 120px 0 !important;
    }
    .arrow {
        display: none !important;
    }
    .reviews-text p:not(.name-attribution) {
        margin: 0 !important;
        padding: 0 5%;
    }
}